<ion-view view-title="Contact">
  <ion-content>
    <ion-list>
<div class="contact-set padding">

  <!-- <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item active" href="#">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div> -->
<!-- <div class="tabs-striped tabs-color-assertive">
  <div class="tabs">
    <a class="tab-item active" href="#">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div> -->
<div class="head-text text-center">
    <p class="headaddr">HEAD OFFICE</p>
</div>
  <div class="row">

      <div class="col-10">
      <div class="icon-set display-inline">
        <i class="ln-map-marker"></i>
      </div>
    </div>
    <div class="col-90">
      <p>101, Universal Paradise, Nanda Patkar Road,
    Vile Parle (East), Mumbai 400 057.
    Maharashtra, India</p>
    </div>

  </div>
  <div class="row marg">

      <div class="col-10">
        <div class="icon-set display-inline">
          <i class="ln-phone2"></i>
        </div>
      </div>
      <div class="col-90">
        <p class="margin0">+91-22-2614 6556</p>
        <p class="margin0"> +91-22-2614 5955</p>
      </div>

    </div>

  <div class="row marg">

    <div class="col-10 ">
      <div class="icon-set display-inline">
        <i class="ln-envelope"></i>
      </div>
    </div>
    <div class="col-90">
      <p>info@europratik.com</p>
</div>
</div>

<div class="padding marg">
  <form action="#">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="State">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Country">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
    </div>

      <button class="button button-full button-assertive" type="submit">
    submit

  </div>
  </form>
</div>
    </ion-list>
  </ion-content>
</ion-view>
