<ion-view class="grad">
<ion-nav-title>
    Gallery
</ion-nav-title>
  <ion-content>
<div class="row padding2">
  <div class="col padding2">
    <img src="img/acrylam_tuff.jpg" alt="" class="full-image">
  </div>
  <div class="col padding2">
    <img src="img/Acrylyte.jpg" alt="" class="full-image">
  </div>
</div>
<div class="row padding2">
  <div class="col padding2">
    <img src="img/adhesive-pro.jpg" alt="" class="full-image">
  </div>
  <div class="col padding2">
    <img src="img/corriano.jpg" alt="" class="full-image">
  </div>
</div>
  <div class="row padding2">
    <div class="col padding2">
      <img src="img/Decoart5.jpg" alt="" class="full-image">
    </div>
    <div class="col padding2">
      <img src="img/Decolite.jpg" alt="" class="full-image">
    </div>
  </div>
  <div class="row padding2">
    <div class="col padding2">
      <img src="img/Decopanel4.jpg" alt="" class="full-image">
    </div>
    <div class="col padding2">
      <img src="img/Decoris.jpg" alt="" class="full-image">
    </div>
  </div>
  <div class="row padding2">
    <div class="col padding2">
      <img src="img/Egger.jpg" alt="" class="full-image">
    </div>
    <div class="col padding2">
      <img src="img/Emporio.jpg" alt="" class="full-image">
    </div>
  </div>
  <div class="row padding2">
    <div class="col padding2">
      <img src="img/Fashion_wall.jpg" alt="" class="full-image">
    </div>
    <div class="col padding2">
      <img src="img/flos.jpg" alt="" class="full-image">
    </div>
  </div>
  <div class="row padding2">
    <div class="col padding2">
      <img src="img/Forescolor3.jpg" alt="" class="full-image">
    </div>
    <div class="col padding2">
      <img src="img/Lucento.jpg" alt="" class="full-image">
    </div>
  </div>


  </ion-content>
</ion-view>
