<ion-view>
  <ion-nav-title>
    <img src="img/logo.png" class="logo">
  </ion-nav-title>

  <ion-content class="grad">
    <div class="home-slider">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">

        <ion-slide ng-repeat="s in sliderdata">
          <img  ng-src="{{s.image|serverimage}}" alt="" class="full-image">
        </ion-slide>
        <!-- <ion-slide>
          <img src="img/slider2.jpg" alt="" class="full-image">
        </ion-slide>
        <ion-slide>
          <img src="img/slider3.jpg" alt="" class="full-image">
        </ion-slide> -->
      </ion-slide-box>
    </div>
<div class="latest-arrival">
  <p class="newarrival">EURO PRATIK NEW ARRIVAL</p>
  <div class="row padding2">
    <div class="col padding2">
  <img ng-src="{{HomePics[0].image2|serverimage}}" alt="" class="full-image">
    </div>
  </div>
</div>
<!-- <div class="row padding2">
  <div class="col padding2">
    <img src="img/decolote-home.jpg" alt="" class="full-image">
  </div>
</div> -->
<div class="products-mg">
  <p class="exclusive">
    EURO PRATIK EXCULSIVE PRODUCTS
  </p>

  <div class="row padding2" ng-repeat="data in ExclusiveProduct">
    <div class="col padding2">
      <img ng-src="{{data.image1|serverimage}}" alt="" class="full-image">
    </div>
</div>

  <!-- <div class="row padding2">
      <div class="col padding2">
      <img ng-src="{{data.image1|serverimage}}" alt="" class="full-image">
    </div>
  </div> -->
</div>
<div class="products-mg">
  <p class="popular">
    EURO PRATIK POPULAR PRODUCTS
  </p>

  <div class="row padding2" ng-repeat="brands in brandlist">
  <div class="col padding2"><a ng-href="{{brands.link}}">
    <img ng-src="{{brands.backImage|serverimage}}" alt="" class="full-image">
  </div>
  </div>
  <!-- <div class="row padding2">
  <div class="col padding2">
    <img src="img/acrylam_tuff5.jpg" alt="" class="full-image">
  </div>
  </div>
  <div class="row padding2">
  <div class="col padding2">
    <img src="img/Acrylyte4.jpg" alt="" class="full-image">
  </div>
  </div> -->
</div>

<div class="list">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">

    </label>
    <button class="button button-small button-assertive >
      <span class="subs">Subscribe</span>
    </button>
  </div>

</div>

  </ion-content>
</ion-view>
