<ion-view >
  <ion-content>
    <div class="home-slider">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <img src="img/slider1.jpg" alt="" class="full-image">
        </ion-slide>
        <ion-slide>
          <img src="img/slider2.jpg" alt="" class="full-image">
        </ion-slide>
        <ion-slide>
          <img src="img/slider3.jpg" alt="" class="full-image">
        </ion-slide>
      </ion-slide-box>
    </div>
<div class="row padding0">
  <div class="col ">
    <img src="img/13.jpg" alt="" class="full-image">
  </div>
  <div class="col">
    <img src="img/decolote-home.jpg" alt="" class="full-image">
  </div>
</div>
<div class="products-mg">
  <p class="exclusive">
    EURO PRATIK EXCULSIVE PRODUCTS
  </p>
  <div class="row padding0">
    <div class="col">
      <img src="img/mikano-banner.jpg" alt="" class="full-image">
    </div>

    <div class="col">
      <img src="img/decoart-banner.jpg" alt="" class="full-image">
    </div>
  </div>
</div>
<div class="products-mg">
  <p class="popular">
    EURO PRATIK POPULAR PRODUCTS
  </p>
  <div class="row padding2">
  <div class="col padding2">
    <img src="img/Lucento4.jpg" alt="" class="full-image">
  </div>
  </div>
  <div class="row padding2">
  <div class="col padding2">
    <img src="img/acrylam_tuff5.jpg" alt="" class="full-image">
  </div>
  </div>
  <div class="row padding2">
  <div class="col padding2">
    <img src="img/Acrylyte4.jpg" alt="" class="full-image">
  </div>
  </div>
</div>

<div class="list">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Email">

    </label>
    <button class="button button-small button-assertive >
      <span class="subs">Subscribe</span>
    </button>
  </div>

</div>

  </ion-content>
</ion-view>
