<ion-view class="grad" title="Know Us">


  <ion-content>
    <ion-list>
      <img src="img/know-us.jpg" alt="" class="full-image">
      <div class="know-content">

        <h4>Know Us</h4>
        <p>Euro Pratik is an innovative designer and importer of products ,with an objective of creating world-class interior & exterior environment. At our core, we are design driven and we apply that creative thought process to both product development
          and internal operations.</p>
        <p>With credible experience, expertise & understanding of the interior décor industry we have been able to achieve great heights by sourcing importing materials from Canada, Germany, Italy, Malaysia, Korea, Thailand, Indonesia, Vietnam, Burma, Netherlands
          and USA , thereby bringing desirable global interior décor solution closer to the Indian market at a competitive cost.</p>
        <p>Even though we have been in business for 14 years, we like to think of ourselves as a startup. The excitement, innovation, and passion from all of our team members allow us to stay current and relevant. We are never satisfied.</p>
        <p>Over the last five years, we have continued to expand the breadth of products and services that we offer. We currently have over 21 brands in our offerings, thus providing biggest range in decorative products in India.</p>
        <p>With pan India distributor network of more than 100 cities and high stock level, when a client comes to us they can expect to receive a level of service as per international standard.</p>
      </div>
      <div class="know-content">
        <h4>Management</h4>
        <div class="row padding2">
          <div class="col padding2 managing">
            <h5>Gunwant Singhvi</h5>
            <p>A visionary in the world of decoratives, he is the pioneer in introducing imports of veneer from the European market. He has an excellent knowledge in the Interior Decor industry and is the driving force behind the company. Mr. Singhvi has
              worked with more than 20 countries across the globe and is responsible for the successful leadership & management of Euro Pratik. With the experience of last 25 years he has strived to provide utmost satisfaction to the consumer through
              best quality and innovative range in the products introduced.</p>
          </div>

        </div>
        <div class="row padding2">
          <div class="col padding2 managing">
            <h5>Pratik Singhvi</h5>
            <p>A MBA from NMIMS Mumbai, he develops an operational plan which incorporates goals and objectives that work towards the strategic direction of Euro Pratik. With the experience of last 10 years, he ensures that the organization meets the expectations
              of its clients.Mr. Singhvi maintains a positive working relationship with pan India distribution network in 120 cities across India.</p>
          </div>
        </div>
        <div class="row padding2">
          <div class="col padding2 managing">
            <h5>Jai Singhvi</h5>
            <p>A MS and MBA from the USA he develops new and unique ways to improve operations of the organization. He sources the material for imports which are eco friendly, unique and versatile in application in the interior decorative industry. The array
              of world-class products sourced makes its presence felt at homes, offices and commercial establishments.</p>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
