<ion-view>
  <ion-nav-title>
    {{AllSeries[0][0].categoryname}}
  </ion-nav-title>
  <ion-content>
    <!-- <div class="items bodered-col">
      <div class="row" ng-repeat="data in AllSeries">
        <div class="col col-50" ng-click="goToCategory(series);" ng-repeat="series in data">
          <div class="category-image"></div>
          <div class="category-name text-center">
            {{series.name}}
          </div>
        </div>
      </div>
    </div> -->
    <div class="head-image">
      <img ng-src="" alt="Euro Pratik">
    </div>
    <div class="pro-list">
      <ul class="list" ng-repeat="data in AllSeries">
        <li class="item" g-click="goToCategory(series);" ng-repeat="series in data">
        {{series.name}}
        </li>
    </ul>
    </div>
  </ion-content>
</ion-view>
