<ion-view>
  <ion-nav-title>
    {{AllSeries[0][0].categoryname}}
  </ion-nav-title>
  <ion-content>
    <!-- <div class="items bodered-col">
      <div class="row" ng-repeat="data in AllSeries">
        <div class="col col-50" ng-click="goToCategory(series);" ng-repeat="series in data">
          <div class="category-image"></div>
          <div class="category-name text-center">
            {{series.name}}
          </div>
        </div>
      </div>
    </div> -->
    <div class="items">
      <div class="row" ng-repeat="data in AllSeries">
        <div class="col" ng-repeat="series in data" ng-click="goToCategory(series);">
          <div class="img-box">
            <img ng-src="{{series.image|serverimage}}" class="full-image" >
            <div class="pro text-center texter">{{series.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
