<ion-view view-title="{{ProductDetails.name }}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="productinfo padding-horizontal">
      <div class="img-hold">
        <img ng-src="{{ProductDetails.image|serverimage}}" alt="" class="full-image" ng-click="openModal()" ng-if="ProductDetails.image">
      </div>
      <div class="product-desc padding2 ">
        <i class="ln-circle-left" ng-click="changeProduct(-1);" ng-if="foundIndex>0"></i>
        <span>{{ProductDetails.name}}</span>
        <i class="ln-circle-right" ng-click="changeProduct(1);" ng-if="foundIndex<productArr.length-1"></i>
        <p>{{ProductDetails.size}}</p>
      </div>
      <div class="social-icons">
        <button class="button button-block ln-share2 button-balanced" ng-click="shareProduct();">
          Share
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
