<ion-view view-title="Product">
  <ion-content>

    <div class="row" ng-repeat="product in products">
      <div class="col" ng-repeat="pro in product">
        <img ng-src="{{pro.image}}" alt="" class="fullimage" ng-click="openModal(pro)" close-btn>
      </div>

    </div>
    <!-- <div class="row">
      <div class="col">
        <img src="img/adhesive-pro.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/corriano.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Decolite.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/Decoart5.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Decopanel4.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/Decoris.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Egger.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/Emporio.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/flos.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/Fashion_wall.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Forescolor3.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/logo.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Matrix.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/Lucento.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/Neboard2.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/mikano.jpg" alt="" class="fullimage">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="img/solid_wood.jpg" alt="" class="fullimage">
      </div>
      <div class="col">
        <img src="img/solido.jpg" alt="" class="fullimage">
      </div>
    </div> -->
    <!-- <div class="row responsive-sm">
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div> -->
  </ion-content>
</ion-view>
