<ion-view>
  <ion-nav-title>
    <img src="img/logo.png" class="logo">
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="row padding2">
      <div class="col padding2">
        <img ng-src="img/Logo-woodcellar.jpg" alt="" class="fullimage" ng-click="opeLink()">
      </div>
      <div class="col padding2">
        <img ng-src="{{brands1.image|serverimage}}" alt="" class="fullimage" ui-sref="app.productselect({id:brands1.id})">
      </div>
    </div>
    <div class="row padding2" ng-repeat="product in brands">
      <div class="col padding2" ng-repeat="pro in product">
        <img ng-src="{{pro.image|serverimage}}" alt="" class="fullimage" ui-sref="app.productselect({id:pro.id})">
      </div>
    </div>
  </ion-content>
</ion-view>
