<ion-view>
  <ion-nav-title>
    {{AllSeries[0].categoryname}}
  </ion-nav-title>
  <ion-content>
    <!-- <div class="items bodered-col">
      <div class="row" ng-repeat="data in AllSeries">
        <div class="col col-50" ng-click="goToCategory(series);" ng-repeat="series in data">
          <div class="category-image"></div>
          <div class="category-name text-center">
            {{series.name}}
          </div>
        </div>
      </div>
    </div> -->
    <div class="head-image" style="background-image: url('{{AllSeries[0].image|serverimage}}');"></div>
    <div class="pro-list">
      <div class="list">
        <div class="item" ng-click="goToCategory(series);" ng-repeat="series in AllSeries">
        {{series.name}}
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
