<ion-view view-title="{{myCatName}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="items">
        <div class="row" ng-repeat="product in seriesProducts">
          <div class="col" ng-repeat="pro in product" ng-click="goToDetail(pro.id);">
            <div class="img-box">
              <img ng-src="{{pro.image|serverimage}}" alt="" class="full-image">
              <div class="pro text-center texter">{{pro.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll ng-if="infiniteScroll" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
</ion-view>
