<ion-view  title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="objfilter.name" placeholder="Search" ng-change="getSearchByCat()">
      </label>
      <button class="button button-clear" ng-click="clear()">
        Cancel
      </button>
    </div>
    <div class="row " ng-repeat="pr in products">
<div class="col" >
  <div class="search-result" >
    <div class="pro-list" ng-click="goToDetail(pr.categoryid,pr.subcategoryid,pr.id)">
        <div class="products">
          <div class="pro-img">
            <img ng-src="{{pr.image|serverimage}}" alt="Products" class="full-image">
          </div>

        </div>

    </div>
  </div>
</div>

      <div ng-if="products == 'noProducts'" class="showerror text-center">
        <h3 class="text-center">No Product Found!</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
